@page "/AddBooking"


@using Blazored.FluentValidation

@inject HttpClient httpClient


@* Find a framework or add styling for profession feel. 
    Could use mudblazor/ syncfusion blazor / blazorbootstrap  *@


<h2>@message</h2>

<EditForm EditContext="@editContext" OnSubmit="@Submit">
    @* Fluent validation for extending validation capabilities like conditional validation *@

    <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="@false" />
    <ValidationSummary />

    <p>
        <label>Name: </label>
        <InputText @bind-Value="@NewBooking.Name" />
        <ValidationMessage For="() => NewBooking.Name"></ValidationMessage>
    </p>

    <p>
        <label>Booking Date: </label>
        <InputDate @bind-Value="@NewBooking.BookingDate" />
        <ValidationMessage For="() => NewBooking.BookingDate"></ValidationMessage>

    </p>

    <p>
        <label>Flexibility: </label>

        <InputSelect @bind-Value="@NewBooking.Flexibility">
            @* Replace with database driven list *@
            <option value=""></option>

            <option value="1">1 Days</option>
            <option value="2">2 Days</option>
            <option value="3">3 Days</option>

        </InputSelect>

        <ValidationMessage For="() => NewBooking.Flexibility"></ValidationMessage>


    </p>

    <p>
        <label>Vehicle Size: </label>

        <InputSelect @bind-Value="@NewBooking.VehicleSize">
            @* Replace with database driven list *@
            <option value=""></option>

            <option value="1">Small</option>
            <option value="2">Medium</option>
            <option value="3">Large</option>

        </InputSelect>

        <ValidationMessage For="() => NewBooking.VehicleSize"></ValidationMessage>


    </p>


    <p>
        <label>Contact Number: </label>

        <InputText @bind-Value="@NewBooking.ContactNumber">
        </InputText>

        <ValidationMessage For="() => NewBooking.ContactNumber"></ValidationMessage>


    </p>

    <p>
        <label>Email Address: </label>

        <InputText @bind-Value="@NewBooking.EmailAddress">
        </InputText>

        <ValidationMessage For="() => NewBooking.EmailAddress"></ValidationMessage>


    </p>

    <button type="submit">Save</button>
</EditForm>